
@model NyukinIndexModel
@using rehome.Models.DB;
@using rehome.Models.Quote;
@using rehome.Enums;

<form id="myForm">
<div class="modal fade" id="Nyukin-modal" tabindex="-1" role="dialog"   >
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" >入金消込</h4> 
            </div>
            <div>
                    <input data-val="true" id="set_rownumber" @*type="hidden"*@>

                <div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="col-auto">
                    <button type="button" class="custom-btn btn-1 btn-size" onclick="submitForm()">登録</button>
                </div>
            </div>
            <div class="modal-body">                
                <table class="table table-striped table-hover table-sm ">
                    <thead>
                        <tr>
                            <th class="column3">削除</th>
                            <th class="column10">入金日</th>
                            <th>入金額</th>
                            <th>振込手数料</th>
                            <th>振込名義</th>
                            <th>前受金</th>
                            <th>入金種別</th>
                            <th>備考</th>
                            <th>更新日</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        @if (Model.Nyukins != null)
                        {
                           @* @foreach (var item in Model.Nyukins)*@
                           for(var i=0;i<Model.Nyukins.Count();i++)
                            {
                                <tr>
                                    @Html.HiddenFor(a=>a.Nyukins[i].入金ID)
                                    @Html.HiddenFor(a=>a.見積ID)
                                    @Html.HiddenFor(a=>a.履歴番号)
                                    <td>
                                        <button type="button" class="custom-btn btn-size-min btn-1" id="PopupSelect" data-bs-dismiss="modal"><i class="fa fa-check" aria-hidden="true"></i>削除</button>
                                    </td>
                                    <td>
                                        @Html.EditorFor(a => a.Nyukins[i].入金日, new {htmlAttributes = new {@class="form-control form-control-sm", @type="date"}})                                            
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(a => a.Nyukins[i].入金額, new {@class="form-control form-control-sm", @type="number"})
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(a => a.Nyukins[i].振込手数料, new {@class="form-control form-control-sm", @type="number"})
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(a => a.Nyukins[i].振込名義, new {@class="form-control form-control-sm", @type="text"})
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(a => a.Nyukins[i].前受金, new {@class="form-control form-control-sm", @type="number"})
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(a => a.Nyukins[i].入金種別,new SelectList(Enum.GetValues(typeof(入金種別))), "",  new { @class ="form-control form-control-sm"} )
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(a => a.Nyukins[i].備考, new {@class="form-control form-control-sm", @type="text"})
                                    </td>
                                    <td>
                                        @Html.DisplayFor(a => a.Nyukins[i].登録日, new {@class="form-control form-control-sm", @type="date"})
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                    
                </table>       
               
                @*</br>
                <input type="button" value="設定" class="custom-btn btn-2 btn-2-sm" onclick="TabSort();"/>*@
            </div>
            <div class="modal-footer">                
            </div>
        </div>
    </div>
</div>
</form>

