
 
@{
    ViewData["Title"] = "インポート";
}
 
<h1>CSVファイル取込と出力</h1>
<p>@TempData["import"]</p>
@using (Html.BeginForm("ImportFile", "Import", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="input_file" id="fileInput" />
    <label>商品CSVの取込</label>
        <input type="submit" value="インポート" class="custom-btn btn-1" />
    
}
<label>各種CSVファイルの出力</label>
<a href="/Import/ExportCSV" class="custom-btn btn-1"> 商品CSV</a>
@*<button onclick="uploadFile()">ファイルをアップロード</button>*@


@*<a href="@Url.Action("ExportSiireChoCSV", "Import")" class="custom-btn btn-1">仕入帳</a>
*@

@*<form action="@Url.Action("ExportSiireChoCSV", "Import")" method="post">*@
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 align-items-start" >
    <div class="surround-box">
        <label class="surround-label">抽出期間</label>
        <input class="form-control form-control-sm text-box single-line" id="startdate" name="startdate" type="date" value="">
        <input class="form-control form-control-sm text-box single-line" id="enddate" name="enddate" type="date" value="">
    </div>
</div>
    <div>
    <button type="button" id="exportSiireBtn" class="custom-btn btn-1">仕入帳</button>
    <button type="button" id="exportUriageBtn" class="custom-btn btn-1">売上集金</button>
    </div>


@section Scripts {
<script type="text/javascript">

        // 仕入帳ボタンがクリックされたときの処理
        document.getElementById('exportSiireBtn').addEventListener('click', function () {
            // テキストボックスの値を取得
            var startDateValue = document.getElementById('startdate').value;
            var endDateValue = document.getElementById('enddate').value;

            // 日付が空でないかチェック
            if (startDateValue.trim() === '' || endDateValue.trim() === '') {
                // 日付が空の場合、エラーメッセージを表示
                alert('抽出期間を入力してください。');
                return; // 関数をここで終了させます
            }

            // リダイレクトURLにパラメータとして追加
            var url = "@Url.Action("ExportSiireChoCSV", "Import")";
            url += "?startdate=" + encodeURIComponent(startDateValue);
            url += "&enddate=" + encodeURIComponent(endDateValue);

            // リダイレクト
            window.location.href = url;
        });

        // 売上表ボタンがクリックされたときの処理
        document.getElementById('exportUriageBtn').addEventListener('click', function () {
            // テキストボックスの値を取得
            var startDateValue = document.getElementById('startdate').value;
            var endDateValue = document.getElementById('enddate').value;

            // 日付が空でないかチェック
            if (startDateValue.trim() === '' || endDateValue.trim() === '') {
                // 日付が空の場合、エラーメッセージを表示
                alert('抽出期間を入力してください。');
                return; // 関数をここで終了させます
            }

            // リダイレクトURLにパラメータとして追加
            var url = "@Url.Action("ExportUriageCSV", "Import")";
            url += "?startdate=" + encodeURIComponent(startDateValue);
            url += "&enddate=" + encodeURIComponent(endDateValue);

            // リダイレクト
            window.location.href = url;
        });


</script>
}