
@model ClientDetailModel
@using rehome.Models.DB;

 @*<div class="container">*@        

            @Html.HiddenFor(m => m.Client.顧客ID)
            
   <div class="row">
        <div class="col-12 col-lg-2 col-md-2 col-sm-2 ">
            <div class="input-container">
                @Html.TextBoxFor(m => m.Client.顧客名, new { @class = " " ,placeholder=" " })
            <label for="name" class="col-xs-1 label">顧客名</label>
                <div class="underline"></div>                    
            </div>
        </div>
        <div class="col-12 col-lg-2 col-md-2 col-sm-2">
              <div class="input-container">
                   @Html.TextBoxFor(m => m.Client.カナ, new { @class = " "  ,placeholder=" "})
                <label for="name" class="col-xs-1 label">カナ</label>
                 <div class="underline"></div>  
              </div>
        </div>
        <div class="col-12 col-lg-2 col-md-2 col-sm-2">
             <div class="input-container">
                  @Html.TextBoxFor(m => m.Client.郵便番号, 
                        new { @class = " " , onKeyUp="AjaxZip3.zip2addr(this,'','Client.住所1','Client.住所1');" ,@id="zipcode" ,onchange="getIryoken();" ,placeholder=" "})
                <label for="name" class="col-xs-1 label">郵便番号</label>
                <div class="underline"></div>                    
             </div>
        </div>
        <div class="col-12 col-lg-8 col-md-8 col-sm-8">
            <div class="input-container">
                  @Html.TextBoxFor(m => m.Client.住所1, new { @class = " " ,@id="address" ,placeholder=" "})
                <label for="name" class="col-xs-1 label">住所1</label>
                <div class="underline"></div>                    
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-2 col-md-2 col-sm-2">
            <div class="input-container">
                @Html.TextBoxFor(m => m.Client.住所2, new { @class = " " ,@id="address" ,placeholder=" "})
                <label for="name" class="col-xs-1 label">住所2</label>
                <div class="underline"></div>
            </div>
        </div>
        <div class="col-12 col-lg-2 col-md-2 col-sm-2">
            <div class="input-container">
                  @Html.TextBoxFor(m => m.Client.TEL, new { @class = " ", @type="tel" ,placeholder=" "})
                <label for="name" class="col-xs-1 label">TEL</label>
                 <div class="underline"></div>                    
            </div>
        </div>
        
        <div class="col-12 col-lg-2 col-md-2 col-sm-2">
            <div class="input-container">
                @Html.EditorFor(m => m.Client.メールアドレス,  new { htmlAttributes =new { @class = ""  ,@type = "text"  }})
                <label for="name" class="col-xs-1 label">メールアドレス</label>
                <div class="underline"></div>
            </div>
        </div>   
    </div>
    <div class="row">
        <div class="col-12">
            <div class="input-container">
                    @Html.TextAreaFor(m => m.Client.備考, 3, 300, new { @class = " ",placeholder=" " })
                <label for="name" class="col-xs-2 label">備考</label>
                    <div class="underline"></div>                           
                </div>
        </div>
    </div>
    <div>@Html.HiddenFor(a => a.Mode)</div>
                   @Html.HiddenFor(a => a.BackUrl)
       