@using rehome.Enums;
@model PayCreateModel;
@using System.Security.Claims;
<link rel="stylesheet" href="~/css/tab.css" />

 @{
    switch (Model.Mode)
    {
        case ViewMode.New:
            ViewData["Title"] = "仕入帳登録";
            break;
        case ViewMode.Edit:
            ViewData["Title"] = "仕入帳編集";
            break;
        default:
            ViewData["Title"] = "仕入帳情報";
            break;
    }
}

<h2>@ViewData["Title"]</h2>

<div>
    <p>@ViewBag.OperationMessage</p>
</div>

@using (@Html.BeginForm("Details", "Pay", FormMethod.Post, new { id = "PayEditForm" }))
{
    @Html.HiddenFor(model => model.Mode)
    @Html.HiddenFor(model => model.BackUrl)
    @*@Html.AntiForgeryToken()*@
    <div class="text-danger">
        @Html.ValidationSummary(false)
    </div>
    <hr />


    <div class="form-group">
        <div class="col-xs-offset-1 col-xs-11">
            <div class="row">
                @if (User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.System).Value == "True")
                {
                    <div class="col-1 col-sm-1">
                        <button type="submit" formaction="Details" formmethod="post" id="btnSubmit"  class="custom-btn btn-1">登録</button>
                    </div>
                    <div class="col-1 col-xl-1 col-lg-2 col-md-2 col-sm-4">
                        <a href="@Model.BackUrl" class="custom-btn btn-2 ">戻る</a>
                    </div>
                @if (Model.Mode == ViewMode.Edit){

                    <div class="col-1 col-sm-1">
                        <button type="submit" formaction="Delete" formmethod="post" id="btnDelete" class="custom-btn btn-2">削除</button>
                    </div>
                }
                }
            </div>
            

        </div>
    </div>
    <br>
    @if (Model.Pay == null)
    {
        <div class="text-danger">仕入帳情報が見つかりませんでした</div>
    }
    else
    {
    @await Html.PartialAsync("_Pay")

    }
           @* <div class="row">
                <div class="col-5 col-sm-2" >
                    <a href="@Url.Action("Index", "Client")" class="custom-btn btn-2">戻る</a>
                </div>
            </div>*@
}

@section Scripts{
    <script>
        $(function() {

             $('#btnSubmit').on('click', function() {

                    
            });

            //削除
            $('#btnDelete').on('click', function() {
                var result = window.confirm('仕入帳情報を削除しますか？');
                if (result == false) {
                    return false;
                }
            });
        });

        //仕入先検索画面を表示
        function getOffice() {

            PopupSearch('Pay.仕入先ID', '/PopupSearch/Siire');
        }

        function getPayName() {
            console.log("getPayName");
            //選択行の行番号を取得

            var targetID = $('[name="Pay.仕入先ID"]').val();
            console.log(SyouhinID);

            var table = 'T_仕入先';
            var wheresql = '仕入先ID=' + targetID;

            var result = ReturnRecordJson(table, wheresql);
            $('[name="Pay.仕入先ID"]').val(nz(result.仕入先名));
            
        }
    </script>

}

                        