@using rehome.Enums;
@using rehome.Models.DB
@model Help

<link rel="stylesheet" href="~/css/table.css" />

@{   
      ViewData["Title"] = "Help";               
}

<h4>@ViewData["Title"]</h4>

<div>
    <p>@Html.Raw(ViewBag.OperationMessage)</p>
    @*<p>@ViewBag.OperationMessage</p>*@
</div>

@if (Model == null)
{
    <div class="text-danger">Helpが見つかりませんでした</div>
}
else
{
    @using (@Html.BeginForm("HelpCreate", "Pay", FormMethod.Post))
    {
        <input class="custom-btn btn-1 " type="submit" id="submit" formaction="Details" formmethod="post" value="登録" name="Edit" />
        
        <a href="@Model.BackUrl" class="custom-btn btn-2 ">戻る</a>        
        @Html.HiddenFor(model => model.BackUrl)

        <div class="text-danger">
            @Html.ValidationSummary(false)
        </div>
        <hr />
        
        <div class="col-12 col-sm-10">
            <div class="input-container">
                @Html.TextAreaFor(m => m.help, 10, 500, new { @class = " " ,placeholder=" "})
                <label for="name" class="label">Help内容</label>
                <div class="underline"></div>
            </div>
        </div>      
    }
}

@section Scripts{
    <script>

        $(function () {

            //削除
            $('#btnDelete').on('click', function () {
                var result = window.confirm('日誌情報を削除しますか？');
                if (result == false) {
                    event.preventDefault();
                }
            });

        });

    </script>
}