@using rehome.Enums;
@using rehome.Models.DB;
@model HouzinDetailModel
<div class="row">


    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="tile-box">
                <label for="name" class="col-xs-1 tile-label2">社名</label>
                @Html.TextBoxFor(m => m.Houzin.社名, new { @class = "form-control" })

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="tile-box">
                <label for="name" class="col-xs-1 tile-label2">代表名</label>
                @Html.TextBoxFor(m => m.Houzin.代表名, new { @class = "form-control" })

            </div>
        </div>
    </div>


    <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="tile-box">
    <label for="name" class="col-xs-1 tile-label2">郵便番号</label>
    @Html.TextBoxFor(m => m.Houzin.郵便番号,
    new { @class = "form-control" , onKeyUp="AjaxZip3.zip2addr(this,'','Houzin.住所','Houzin.住所');" ,@id="zipcode" })
    </div></div></div>

    <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="tile-box">
    <label for="name" class="col-xs-1 tile-label2">住所</label>
    @Html.TextBoxFor(m => m.Houzin.住所, new { @class = "form-control" ,@id="address"})
    </div></div>
    </div>




    <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="tile-box">
    <label for="name" class="col-xs-1 tile-label2">TEL</label>
    @Html.TextBoxFor(m => m.Houzin.TEL, new { @class = "form-control", @type="tel"})
    </div></div>
    </div>


    <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="tile-box">
    <label for="name" class="col-xs-1 tile-label2">FAX</label>
    @Html.TextBoxFor(m => m.Houzin.FAX, new { @class = "form-control", @type="tel"})
    </div></div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <label for="name">銀行名</label>
            @Html.TextBoxFor(m => m.Houzin.銀行名, new { @class = "form-control form-control-sm" })
        </div>

        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <label for="name">支店名</label>
            @Html.TextBoxFor(m => m.Houzin.支店名, new { @class = "form-control form-control-sm" })
        </div>

        <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
            <label for="name">口座区分</label>
            @Html.TextBoxFor(m => m.Houzin.口座区分, new { @class = "form-control form-control-sm" })
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <label for="name">口座番号</label>
            @Html.TextBoxFor(m => m.Houzin.口座番号, new { @class = "form-control form-control-sm" })
        </div>

        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <label for="name">口座名義</label>
            @Html.TextBoxFor(m => m.Houzin.口座名義, new { @class = "form-control form-control-sm" })
        </div>

        <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
            <label for="name">インボイス番号</label>
            @Html.TextBoxFor(m => m.Houzin.インボイス番号, new { @class = "form-control form-control-sm" })
        </div>
    </div>

</div>


<div>@Html.HiddenFor(a => a.Mode)</div>
@Html.HiddenFor(a => a.BackUrl)
