@using rehome.Enums;
@using rehome.Models.DB;
@model HouzinDetailModel
<div class="row">


    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="tile-box">
                <label for="name" class="col-xs-1 tile-label2">社名</label>
                @Html.TextBoxFor(m => m.Houzin.社名, new { @class = "form-control" })

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="tile-box">
                <label for="name" class="col-xs-1 tile-label2">代表名</label>
                @Html.TextBoxFor(m => m.Houzin.代表名, new { @class = "form-control" })

            </div>
        </div>
    </div>


    <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="tile-box">
    <label for="name" class="col-xs-1 tile-label2">郵便番号</label>
    @Html.TextBoxFor(m => m.Houzin.郵便番号,
    new { @class = "form-control" , onKeyUp="AjaxZip3.zip2addr(this,'','Houzin.住所','Houzin.住所');" ,@id="zipcode" })
    </div></div></div>

    <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="tile-box">
    <label for="name" class="col-xs-1 tile-label2">住所</label>
    @Html.TextBoxFor(m => m.Houzin.住所, new { @class = "form-control" ,@id="address"})
    </div></div>
    </div>




    <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="tile-box">
    <label for="name" class="col-xs-1 tile-label2">TEL</label>
    @Html.TextBoxFor(m => m.Houzin.TEL, new { @class = "form-control", @type="tel"})
    </div></div>
    </div>


    <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="tile-box">
    <label for="name" class="col-xs-1 tile-label2">FAX</label>
    @Html.TextBoxFor(m => m.Houzin.FAX, new { @class = "form-control", @type="tel"})
    </div></div>
    </div>
    


 @*   <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="tile-box">
                <label for="name" class="col-xs-1 tile-label2">オフィス</label>
                @Html.TextBoxFor(m => m.Houzin.オフィス, new { @class = "form-control" })
            </div>
        </div>
    </div>*@

    @*   <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="tile-box">
    <label for="name" class="col-xs-1 tile-label2">期</label>
    @Html.TextBoxFor(m => m.Setting.期, new { @class = "form-control",@type="number" ,@min="0"})

    </div>
    </div></div>*@
</div>


<div>@Html.HiddenFor(a => a.Mode)</div>
@Html.HiddenFor(a => a.BackUrl)
