@model NissiIndexModel
@using rehome.Models.DB;
@using rehome.Models.Nissi
@using rehome.Enums;
        <div class="row mb-1 align-items-center">

@*<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4 align-items-start surround-box" id="SearchCustom_Nissi_日誌ID">
    <label for="日誌ID" class="surround-label">日誌ID</label>
    @Html.TextBoxFor(m=>m.NissiSearchConditions.日誌ID, new {@class = "form-control",@onchange="Submit()" })
</div>*@

<div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 align-items-start surround-box" id="SearchCustom_Nissi_担当">
    <label for="担当ID" class="surround-label">担当</label>
    @Html.DropDownListFor(m => m.NissiSearchConditions.担当ID,
        new SelectList(Model.担当DropDownList, "Value", "Display"),  "選択してください", 
        new { @class = "form-control",@onchange="Submit()",@id="担当ID"} )
</div>
@*<div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 align-items-start surround-box" id="SearchCustom_Nissi_支援区分">
    <label for="支援区分" class="surround-label">支援区分</label>
    @Html.DropDownListFor(m => m.NissiSearchConditions.支援区分, 日誌表示.支援区分items(),  "選択してください",  new { @class = "form-control"/*,@onchange="Submit()"*/} )
</div>

        
         
<div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 align-items-start surround-box" id="SearchCustom_Nissi_相談手段">
    <label for="相談手段" class="surround-label">相談手段</label>
    @Html.TextBoxFor(m => m.NissiSearchConditions.相談手段, new { data_options = 日誌リスト.相談手段items ,@class="free_dropdown form-control"/*,@onchange="Submit()"*/,@id="相談手段" })
</div>*@

<div class="col-lg-3 col-md-5 col-sm-12 col-xs-12 align-items-start surround-box" id="SearchCustom_Nissi_対応内容">
    <label for="対応内容" class="surround-label">対応内容</label>
    @Html.TextBoxFor(m=>m.NissiSearchConditions.対応内容, new {@class = "form-control",@onchange="Submit()" })
</div>

<div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 align-items-start" id="SearchCustom_Nissi_対応日">
    <div class="surround-box">
        <label for="対応日" class="surround-label">対応日</label>
        @Html.EditorFor(m => m.NissiSearchConditions.対応日_start,  new { htmlAttributes =new { @class = "form-control"  ,@type = "date",@min="1900-01-01",@max="9999-12-31"}})
        @Html.EditorFor(m => m.NissiSearchConditions.対応日_end,  new { htmlAttributes =new { @class = "form-control"  ,@type = "date" ,@min="1900-01-01",@max="9999-12-31"}})
    </div>
</div>

<div class="col-lg-3 col-md-5 col-sm-12 col-xs-12 align-items-start surround-box" id="SearchCustom_Nissi_顧客名">
    <label for="顧客名" class="surround-label">顧客名</label>
    @Html.TextBoxFor(m=>m.NissiSearchConditions.顧客名, new {@class = "form-control"/*,@onchange="Submit()"*/ })
</div>

                <div class="row justify-content-md-center">
                    <div class="col-md-4">
                        <button class="custom-btn btn-1" type="submit">検索</button>
                        <a href="/Nissi/Clear" class="custom-btn btn-2" type="button" >クリア</a>
                    </div>
                </div>
 </div>