@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewData["Title"] = "日誌検索";
}
@model NissiIndexModel

<div>
    <h4 class="errmess">@Model.mess</h4>
	@*<p>@ViewBag.OperationMessage</p>*@
</div>

<div class="text-center">
    <h2>日誌一覧</h2>
    
    <button type="button" class="custom-btn btn-2" onclick="SwitchSearch();" id="SwitchButton">検索条件▼</button>

    <button type="button" class="custom-btn btn-1" onclick="UserCustom_Popup('SearchCustom','Views/Nissi/_NissiSearchCustom.cshtml');"><i class="fa-solid fa-screwdriver-wrench"></i>検索条件設定</button>
    <input type="hidden" value="SearchCustom" id="UserCustom_FunctionName">

        <div id="Search-Area" name="show" ><br>
            @using (Html.BeginForm("Search", "Nissi", FormMethod.Get, new { @class = "row g-3" }))
            {
                @await Html.PartialAsync("_NissiSearch")

                @if (Model.Nissis != null && Model.印刷区分 != null)
                {
                    <div class="row justify-content-md-center">
                        <div class="col-md-4">

                            <a href="@Url.Action("一括日誌印刷", "Nissi",
                            new{a = Model.Nissis.OrderBy(n => n.対応日).Select(n => n.日誌ID).ToList(),支援区分 = Model.印刷区分})" 
                            target="_blank" class="custom-btn btn-2" ,id="output_report" >印刷</a>
                            
                            <button class="custom-btn btn-2" type="submit" formaction="CsvDownload" formmethod="get" name="支援区分" value="@Model.印刷区分">CSV出力</button>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    @*<div style="text-align:right">
        <a href="@Url.Action("New", "Nissi")" class="custom-btn btn-1"><i class="fa fa-plus-square" aria-hidden="true"></i>新規登録</a>
    </div>*@
        @*<a href="/Nissi/New"　 class="btn btn-success"><i class="fa fa-plus-square" aria-hidden="true"></i>新規登録</a>*@
    <br>

<button type="button" class="custom-btn btn-1" onclick="UserCustom_Popup('IndexCustom','Views/Nissi/_NissiIndexCustom.cshtml');"><i class="fa-solid fa-screwdriver-wrench"></i>表示項目設定</button>
<input type="hidden" value="IndexCustom" id="UserCustom_FunctionName">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table id="myTable" class="table table-striped table-hover " style="width:100%">
                       <thead>
                        <tr>
                
               @* <th id="IndexCustom_Nissi_日誌ID">日誌ID</th>*@
                <th></th>
                <th id="IndexCustom_Nissi_顧客名">顧客名</th>
                <th id="IndexCustom_Nissi_支援区分">支援区分</th>
                <th id="IndexCustom_Nissi_担当名">担当名</th>
                <th id="IndexCustom_Nissi_相談者名">相談者名</th>
                <th id="IndexCustom_Nissi_相談手段">相談手段</th>
                <th id="IndexCustom_Nissi_相談内容区分1">相談内容区分1</th>
                <th id="IndexCustom_Nissi_相談内容区分2">相談内容区分2</th>
                <th id="IndexCustom_Nissi_相談内容_運営状況">相談経緯(背景)</th>
                <th id="IndexCustom_Nissi_相談内容_質問内容">相談内容(質問内容)</th>
                <th id="IndexCustom_Nissi_対応内容">対応内容</th>
                <th id="IndexCustom_Nissi_対応日">対応日</th>
               
                
                        </tr>
                    </thead>
                
@if (Model.Nissis != null)
        {
            @foreach (var item in Model.Nissis)
            {
                <tr>
                    @Html.HiddenFor(modelItem => item.日誌ID)

                    <td>
                        <div class="text-center">
                            @if (item.支援区分 == "相談")
                            {
                                <a class="custom-btn btn-1" href="@Url.Action("Details", "Nissi", new { 日誌ID = item.日誌ID })" )"><i class="fa fa-info-circle" aria-hidden="true"></i></a>

                                @if (item.備考 != null)
                                {
                                    <div class="warning-text">備考あり要確認</div>
                                }
                            }
                            else if (item.支援区分 == "個別支援")
                            {
                                <a class="custom-btn btn-1" href="@Url.Action("Details_Kobetu", "Nissi", new { 日誌ID = item.日誌ID })" )"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                @if (item.備考 != null)
                                {
                                    <div class="warning-text">備考あり要確認</div>
                                }
                            }
                            else if (item.支援区分 == "特別支援")
                            {

                                <a class="custom-btn btn-1" href="@Url.Action("Details_Tokubetu", "Nissi", new { 日誌ID = item.日誌ID })" )"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                @if (item.備考 != null)
                                {
                                    <div class="warning-text">備考あり要確認</div>
                                }
                            }

                        </div>
                    </td>
                    <td id="IndexCustom_Nissi_顧客名">
                        @Html.DisplayFor(modelItem => item.顧客名)
                    </td>
                    <td id="IndexCustom_Nissi_支援区分">
                        @Html.DisplayFor(modelItem => item.支援区分)
                    </td>

                    @*<td id="IndexCustom_Nissi_担当名">
                        @if(item.担当リスト != null){
                            for(var idx=0; idx < item.担当リスト.Count(); idx++)
                            {
                                <div>@Html.DisplayFor(modelItem => item.担当リスト[idx].担当名)</div>
                            }
                        }     
                    </td>*@
                    @*<td id="IndexCustom_Nissi_相談者名">
                        @if(item.相談者リスト != null){
                            for(var idx=0; idx < item.相談者リスト.Count(); idx++)
                            {
                                <div>@Html.DisplayFor(modelItem => item.相談者リスト[idx].相談者名)</div>
                            }
                        }
                    </td>*@
                    <td id="IndexCustom_Nissi_相談手段">
                        @Html.DisplayFor(modelItem => item.相談手段)
                    </td>
                    
                    <td id="IndexCustom_Nissi_相談内容区分1">
                        @Html.DisplayFor(modelItem => item.相談内容区分1)
                    </td>
                    <td id="IndexCustom_Nissi_相談内容区分2">
                        @Html.DisplayFor(modelItem => item.相談内容区分2)
                    </td>
                    <td id="IndexCustom_Nissi_相談内容_運営状況">
                        <p  class="omit_text" onclick="OmitTextSwitch()">@Html.DisplayFor(modelItem => item.相談内容_運営状況)</p>
                    </td>
                    <td id="IndexCustom_Nissi_相談内容_質問内容">
                        <p  class="omit_text" onclick="OmitTextSwitch()">@Html.DisplayFor(modelItem => item.内容)</p>
                    </td>
                    <td id="IndexCustom_Nissi_対応内容">
                        <p class="omit_text" onclick="OmitTextSwitch()">@Html.DisplayFor(modelItem => item.対応内容)</p>
                    </td>
                   
                    <td id="IndexCustom_Nissi_対応日">
                        @Html.DisplayFor(modelItem => item.対応日)
                    </td>

                </tr>
            }

        }
        </table>
   </div>

@section  Scripts {
    <script>

    //$('#output_report').on('click', function() {
    //    // テーブルの1列目の値を取得し、リストとしてシリアライズ
    //    var rows = document.getElementById("myTable").rows;
    //    var list = [];
    //    for (var i = 0; i < rows.length; i++) {
    //    list.push(rows[i].cells[0].textContent);
    //    }
    //    var serializedList = JSON.stringify(list);

    //    // Ajaxを使用して、リストをControllerのGETメソッドに渡す
    //    var xhr = new XMLHttpRequest();
    //    xhr.open("GET", "/ControllerName/ActionName?list=" + serializedList, true);
    //    xhr.send();
    //});


    </script>
}
