@model QuoteCreateModel
@using rehome.Models.DB;
@using rehome.Models.Quote;




<div class="content">

    <input type="button" value="明細追加" class="custom-btn btn-2 btn-2-sm" onclick="addRow(0);" />
    @*<input type="button" value="諸経費追加" class="custom-btn btn-2 btn-2-sm" onclick="QuoteSingle_cost();" />*@

    <table>
        <thead>
            <tr>
                <th style="opacity:0"></th>
                <th class="column3">検索</th>
                <th>商品名</th>
                <th class="column15">寸法</th>
                <th class="column5">数量</th>
                <th class="column5">単位</th>
                
                <th class="column10">見込原価</th>
                <th class="column10">単価</th>
                <th class="column10">金額</th>                
                <th class="column10">備考</th>
                <th class ="column3">非計上</th>
            </tr>
        </thead>

        <tbody name="body[0]" id="body[0]">


            @if (Model.Quote.見積明細リスト != null)
            {

                @for (var j = 0; j < Model.Quote.見積明細リスト.Count(); j++)
                {

                    <tr id="明細[@j]" class="min-line">
                        @Html.HiddenFor(a => a.Quote.見積明細リスト[j].分類ID, new{@Value = 0})
                        @Html.HiddenFor(a => a.Quote.見積明細リスト[j].分類名)
                        @Html.HiddenFor(a => a.Quote.見積明細リスト[j].削除FLG)
                        @Html.HiddenFor(a => a.Quote.見積明細リスト[j].商品ID,new{@onchange="getSyouhinName(this)"})
                        @Html.Hidden("Quote.見積明細リスト[" + j + "].連番",j+1)
                        <td><i class="handle fas fa-arrows-alt-v fa-2x"></i></td>
                        <td>
                            <button type="button" name="syohin_search[@j]"
                                    class="btn-sm btn-primary " id="button" onclick="getSyouhinID(this);">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </td>
                        <td>
                            @Html.TextBoxFor(a => a.Quote.見積明細リスト[j].商品名 , new {@class="form-control form-control-sm"})
                        </td>
                        <td>
                            @Html.TextBoxFor(a => a.Quote.見積明細リスト[j].寸法, new {@class="form-control form-control-sm", @type="text"})
                        </td>
                        <td>
                            @Html.TextBoxFor(a => a.Quote.見積明細リスト[j].数量 , new {@class="form-control form-control-sm", @type="number",onchange="calc();"})
                        </td>
                        <td>
                            @Html.TextBoxFor(a => a.Quote.見積明細リスト[j].単位 , new {@class="form-control form-control-sm"})
                        </td>
                        
                        <td>
                            @Html.TextBoxFor(a => a.Quote.見積明細リスト[j].見込原価, new {@class="form-control form-control-sm", @type="number",onchange=$"calcTanka({@j});"})
                        </td>
                        <td>
                            @Html.TextBoxFor(a => a.Quote.見積明細リスト[j].単価 , new {@class="form-control form-control-sm", @type="number",onchange="calc();"})
                        </td>
                        <td>
                            @Html.TextBoxFor(a => a.Quote.見積明細リスト[j].金額 , new {@class="form-control form-control-sm enable-false",tabindex="-1", @type="number"})
                        </td>                        
                        <td>
                            @Html.TextBoxFor(a => a.Quote.見積明細リスト[j].備考 , new {@class="form-control form-control-sm"})
                        </td>
                        <td>
                            @Html.CheckBoxFor(a => a.Quote.見積明細リスト[j].非計上FLG, new {@class="my-specific-check", @type="checkbox"})
                        </td>
                        <td>
                            <button type="button" name="delete[@j]" onclick="deleteRow(@j);" class="btn btn-secondary btn-sm align_center" style="margin: 0; "><i class="fa-solid fa-trash-can"></i></button>
                        </td>
                    </tr>


                }

            }
        </tbody>
    </table>

</div>
