@model QuoteIndexModel
@using rehome.Models.DB;


@*<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 align-items-start surround-box" id="SearchCustom_Quote_営業所">
    <label for="社員名" class="surround-label">営業所</label>
    @Html.DropDownListFor(m => m.QuoteSearchConditions.営業所ID,new SelectList(Model.営業所DropDownList, "Value", "Display"),  "選択してください",  new { @class = "form-control-chosen",@onchange="Submit()"} )
</div>*@

@*<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 align-items-start surround-box" id="SearchCustom_Quote_担当者">
    <label for="社員名" class="surround-label">担当者</label>
    @Html.DropDownListFor(m => m.QuoteSearchConditions.担当ID,new SelectList(Model.担当DropDownList, "Value", "Display"),  "選択してください",  new { @class = "form-control-chosen",@onchange="Submit()"} )
</div>*@


<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 align-items-start" id="SearchCustom_Quote_案件名">
    <div class="surround-box">
        <label for="支払条件" class="surround-label">案件名</label>
        @Html.TextBoxFor(m=>m.QuoteSearchConditions.案件名, new {@class = "form-control form-control-sm",@onchange="Submit()" })
    </div>
</div>

<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 align-items-start" id="SearchCustom_Quote_顧客名">
    <div class="surround-box">
        <label for="支払条件" class="surround-label">顧客名</label>
        @Html.TextBoxFor(m=>m.QuoteSearchConditions.顧客名, new {@class = "form-control form-control-sm",@onchange="Submit()" })
    </div>
</div>

<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 align-items-start" id="SearchCustom_Quote_受注確度">
    <div class="surround-box">
        <label for="支払区分" class="surround-label">受注確度</label>
        @Html.DropDownListFor(m => m.QuoteSearchConditions.受注確度, 見積.受注確度items(),  "選択してください",  new { @class = "form-control form-control-sm",@onchange="Submit()"} )
    </div>
</div>

<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 align-items-start" id="SearchCustom_Quote_項目">
    <div class="surround-box">
        <label for="支払区分" class="surround-label">項目</label>
        @Html.DropDownListFor(m => m.QuoteSearchConditions.項目, 見積.項目items(),  "選択してください",  new { @class = "form-control form-control-sm",@onchange="Submit()"} )
    </div>
</div>

<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 align-items-start" id="SearchCustom_Quote_見積番号">
    <div class="surround-box">
        <label for="支払条件" class="surround-label">見積番号</label>
        @Html.TextBoxFor(m=>m.QuoteSearchConditions.見積番号, new {@class = "form-control form-control-sm",@onchange="Submit()" })
    </div>
</div>

<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 align-items-start" id="SearchCustom_Quote_完了予定日">
    <div class="surround-box">
        <label for="日付" class="surround-label">見積作成日</label>
        @Html.EditorFor(m => m.QuoteSearchConditions.dateStart,  new { htmlAttributes =new { @class = "form-control form-control-sm"  ,@type = "date",@onchange="Submit()"}})
        @Html.EditorFor(m => m.QuoteSearchConditions.dateEnd,  new { htmlAttributes =new { @class = "form-control form-control-sm"  ,@type = "date",@onchange="Submit()"}})
    </div>
</div>

                <div class="row justify-content-md-center">
                    <div class="col-md-4">
                        <button class="custom-btn btn-1" type="submit">検索</button>
                        <a href="/Quote/Clear" class="custom-btn btn-2" type="button">クリア</a>
                    </div>
                </div>