@{
    ViewData["Title"] = "見積";
}
@model QuoteIndexModel

<div>
    <p>@ViewBag.OperationMessage</p>
</div>
<div class="text-danger">
    @Html.ValidationSummary(false)
</div>

<div class="text-center">
    <h2>見積一覧</h2>
    <button type="button" class="custom-btn btn-1" onclick="SwitchSearch();" id="SwitchButton">検索条件▼</button>

    <b@*utton type="button" class="custom-btn btn-1" onclick="UserCustom_Popup('SearchCustom','Views/Quote/_QuoteSearchCustom.cshtml');"><i class="fa-solid fa-screwdriver-wrench"></i>検索条件設定</button>*@
    <input type="hidden" value="SearchCustom" id="UserCustom_FunctionName">

        <div id="Search-Area" name="hide" style="display: none;"><br>
            @using (Html.BeginForm("Search", "Quote", FormMethod.Get, new { @class = "row g-3" }))
            {
                @await Html.PartialAsync("_QuoteSearch")
            }
        </div>
</div>
<div style="text-align:right">
    <label>明細なし　</label><input type="checkbox" id="single">
    <a href="#" class="custom-btn btn-1" onclick="create_quote('医療');"><i class="fa fa-plus-square" aria-hidden="true" id="iryo"></i> 医療新規</a>
    <a href="#" class="custom-btn btn-1" onclick="create_quote('理化学');"><i class="fa fa-plus-square" aria-hidden="true" id="rika"></i> 理化学新規</a>
</div>

<br>

@*<button type="button" class="custom-btn btn-1" onclick="UserCustom_Popup('IndexCustom','Views/Quote/_QuoteIndexCustom.cshtml');"><i class="fa-solid fa-screwdriver-wrench"></i>表示項目設定</button>*@
<input type="hidden" value="IndexCustom" id="UserCustom_FunctionName">

    @*    <div class="container">*@
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                 <table id="myTable" class="table table-striped table-hover " style="width:100%">
                       <thead>
                        <tr>
                            <th>詳細</th>
                <th>案件名</th>
                <th>確度</th>
                <th>完了予定</th>
                <th>売上</th>

                <th>見込原価</th>
                <th>原価</th>
                <th>見込利益</th>
                <th>利益</th>
                <th>見込粗利率</th>
                <th>粗利率</th>

                        </tr>
                    </thead>
            @if (Model.Quotes != null)
            {
                @foreach (var item in Model.Quotes)
                {
                    <tr>
                        <td><div class="text-center">
                                <a href="@Url.Action("Create", "Quote", new { 見積ID = @item.見積ID, 履歴番号 = @item.履歴番号 })")" class="custom-btn btn-size-min btn-1"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                            </div>
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.件名)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.受注確度)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.完了予定日)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.売上)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.見込原価)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.原価)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.見込利益)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.利益)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.見込粗利率,"{0:0.0%}")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.粗利率,"{0:0.0%}")
                        </td>

                        @*<td>
                   <a href="/Quote/Delete/@item.顧客ID" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>*@
                    </tr>
                }
            }

        </table>
   </div>






    @section Scripts{
        <script>

            window.onload = function () {
        var actv ;
        localStorage.setItem("myKey", "Quote");
        $('#bar-Quote').addClass('active');
    }

            function create_quote(理化学医療区分){
                var checkboxValue = document.querySelector('#single').checked;
                var url = '/Quote/Create?理化学医療区分=' + 理化学医療区分 + '&single=' + checkboxValue;
                window.location.href = url;
            }

        </script>
}